FORMAT: 1A
HOST: https://restapidev.payplus.co.il/api/v1.0/

# PayPlus - API Documentation

PayPlus Rest API gives you the ability to perform various tasks with your PayPlus services as well as manage your account.

Current API version is v1.0. Please note, that we're constantly working to update and improve the API until we're satisfied that it reached full stability. Therefore, please expect possible changes to the API and do consult this guide occasionally to ensure that your code is in sync with any changes. Should there be any major change, our tech team will inform you ahead of time.

If you intend to work with the API, we recommend that you inform us by email. That way, we will be able to inform you upon of upcoming major changes. As previously stated, though, do consult with this guide frequently.

If you have any questions, please do not hesitate to contact us by email: tech@payplus.co.il. Please, try to describe your questions in detail so we can quickly identify your problem and provide assistance. 

## PayPlus REST API URL's
Our service provides two environments to work with: **Staging** or **Production**.

When interacting with the API, make sure to point your requests to the correct environment, with the correct credentials. Both URLs will be stated next to each function.

## Sandbox Credit Card Numbers

**SUCCESSFUL TRANSACTION:** 5326-1402-8077-9844 (EXP: 05/26)  CVV: 000

**REJECT TRANSACTION:** 5326-1402-0001-0120 (EXP: 05/26)  CVV: 000

# Validate Requests Received from PayPlus

### How it works
When you receive a data payload from PayPlus, it will include a header called 'hash' and header called 'user-agent'.

### Verify that the data came from PayPlus
Use your API secret key to verify that the data was sent by PayPlus.

Here is a sample of the Response:

```
{
"results": {
"status": "success",
"code": 0,
"description": "payment page link is been generated"
},
"data": {
"page_request_uid": "0e8789bf-9eaf-4a07-9c16-0a348a4fd5d9",
"payment_page_link": "http://localhost:8000/0e8789bf-9eaf-4a07-9c16-0a348a4fd5d9"
}
}
```

### And headers:
```
{
"hash": "yb4ViUaVO6OFdF9iyISKtCi+cXTvWm0+3e/sQkPsNS0=",
"user-agent": "PayPlus"
}
```

### Sample function (Node.JS) to verifying encrypted data:

```
resolvePayPlusHash = (response, secret_key) => {
if (!response) {
return false
}
if (response.headers['user-agent'] !== 'PayPlus') {
return false
}
const message = response.body && JSON.stringify(response.body);
if (!message) {
return false
}
const hash = response.headers['hash'];
if (!hash) {
return false
}
const genHash = crypto.createHmac("sha256", secret_key)
.update(message)
.digest("base64");
return genHash === hash;
}
```

This function is an example to check the validation of PayPlus response.

This part:

```
const genHash = crypto.createHmac("sha256", secret_key)
.update(message)
.digest("base64");
return genHash === hash;
```
is checking the encryption data.

# Environment URL's

| Environment   | URL           |
|:--------------|:--------------|
| Staging       | `https://restapidev.payplus.co.il/api/v1.0/` |
| Production    | `https://restapi.payplus.co.il/api/v1.0/` |

## Last RestAPI Update(s)
Last Date: 27/03/2023
| Date     | Route  | Section  | Description / Changes     |
|:--------------|:--------------|:--------------|:--------------|
| 20/04/2023    | /PaymentPages/generateLink | Callback response added new support of parameter | create_has will return hash_data in base64 decrypt customer data |
| 27/03/2023    | Callback added "secure3D" consistently | Added `null` | For transactions that are not 3D Secured |
| 22/03/2023    | Refund by Transaction UID & Refund by Credit Card | Added `initial_invoice` | Option to generate document for transaction |
| 16/03/2023    | Transaction Callback Response | Mapping Parameters | Add all values of possible card_foreign parameter |
| 13/03/2023    | /PaymentPages/ChargeMethods/ | New Route | Option to see available payment methods of a payment page |
| 07/02/2023    | /RecurringPayments/Update | Added `cvv` | CVV is mandatory when terminal is set as recurring payment in your clearing company |
| 07/02/2023    | /RecurringPayments/Add | Added `cvv` | CVV is mandatory when terminal is set as recurring payment in your clearing company |
| 07/02/2023    | /TransactionByDevice | Added minimize_app | Option to popup and minimize payplus app |
| 02/01/2023    | /RecurringPayments/CreditCardRenewal | Credit Card Renewal | Recurring sending email to renewal credit card
| 15/12/2022    | /PaymentPages/generateLink | Generate payment link response | Added qr code to response
| 07/12/2022    | Transaction Callback Response | Transactions | Added parameter identification_number to card_information in callback response
| 07/12/2022    | /Token/Renew | Tokens | Has been removed
| 30/11/2022    | Explaination of verifying data from PayPlus | Documentation Preview | Option to verify the encrypted data |
| 15/11/2022    | /PaymentPages/generateLink | payments_credit, payments_first_amount | Option to make credit transaction (If supported) and option to set first installment amount |
| 27/10/2022    | Coupons Routes | Added new coupons routes management | New Routes |
| 24/10/2022    | Successful Callback | Added brand_name of the PayPlus brand | New Parameter brand_name |
| 24/10/2022    | Transactions/Charge  | Add object "self_secure_3ds" | Send external 3D Secure provider object |
| 18/09/2022    | /TransactionByDevice | Added cashier_uid | New option to manage cashiers with devices |
| 11/08/2022    | /Cashiers/Add | Add new route to add cashiers | A |
| 10/08/2022    | /PaymentPages/IPN | New parameters: voucher_num, approval_num | Added new parameters to search transaction |
| 02/08/2022    | /PaymentPages/generateLink | New parameter: support_track2 | Added new parameter |
| 02/08/2022    | Reset Cashier Removal | Reset Cashier Removal | Added new function |


## Payment Methods
### Google Pay™

####Introduction
Google Pay™ is a digital card wallet provided by Google and a simple, secure payment experience allowing shoppers make purchases with major credit cards (such as Mastercard, Visa, American Express, Discover) saved to their Google Account, including ones from Google Play, YouTube, Chrome, or any Android device.

####Implementing Google Pay™ on your website
When shoppers use Google Pay™ on your website, they simply select an item(s) to purchase in using powerful PayPlus Hosted Payment Pages, your shoopers will be able to select Google Pay™ as their payment method, and complete the purcahse in few clicks.

To learn more about Google Pay™ in PayPlus hosted payment pages please go to <a href="https://www.payplus.co.il/google-pay" target="_blank">PayPlus Google Pay™</a> website.

####Benefits of Google Pay™
- **A better way to pay**: Faster and more secure way to pay on sites and in apps using payment methods saved to your customer Google Account.
- **Availability**: Google Pay is accepted in millions of places around the world. It's available on platforms such Android, iOS and desktop and can be used in multiple browsers such: Chrome, Firefox, and Safari.
- **Increased conversions**: Increasing conversions by giving shoppers a better, fast and secure way to pay.
- **Increased security**: Protects your payment information with multiple layers of security, including card network tokenization.

####Getting started
 Google Pay™ is fully integrated into the secured hosted payment pages of PayPlus and saving the needs to deal with codes from your side. all you have to do is open a PayPlus account and request Google Pay™ as your additional payment method and start to accept Google Pay™ in your PayPlus checkout payment page!
1. **Open Account in PayPlus**: Open a PayPlus account in few clicks by filling the <a href="https://www.payplus.co.il/signup?ref=api_gp" target="_blank">PayPlus Signup Form</a>
2. **Setup your PayPlus Account**: Our agents will contact you to setup and activated your account
3. **Request Google Pay™ as a Payment Method**: Now that you have operational PayPlus account, you can add Google Pay™ as a payment method in PayPlus secured payment pages in our *Settings -> Alternative Payment Methods* section.

####Supported merchant countries
Before you begin, review and accept Google’s <a href="https://payments.developers.google.com/terms/aup" target="_blank">Acceptable Use Policy</a> & <a href="https://payments.developers.google.com/terms/sellertos" target="_blank">Google Pay API Terms of Service</a>.

Contact PayPlus <a href="mailto:service@payplus.co.il" target="_blank">Support</a> to enable Google Pay™ acceptance for your PayPlus secured hosted checkout page.


## Customers [/Customers/Add]

### Add [POST]


+ Attributes ()
    + email: `moshe@domain.com` (string,required)
    + customer_name: `Moshe Cohen` (string) - Company Name
    + paying_vat: true (boolean) - Automatic VAT calculation on the customer invoice
    + vat_number: 123456789 (number) - Customer ID
    + customer_number: `465756` (string) - External customer number in other ERP or other system
    + notes: "" (string)
    + phone: `039666666` (string)
    + contacts (array)
        + (object)
            + full_name: `Moshe Cohen` (string) 
            + cell_phone: `054123456` (string)
            + contact_email: `moshecohen@example.com` (string)
            + contact_address: `Haim Weizman 58` (string)
            + contact_city: `Holon` (string)
            + contact_postal_code: `789465` (string)
            + contact_country_iso: `IL` (string)
            + job_position (enum)
                + `main-contact-person`
                + `management`
                + `technical-department`
                + `accounting-and-finance`
                + `legal-department`
                + `personnel-department`
                + `marketing-and-advertising-department`
                + `other`
    + business_address: `Haim Weizman 12` (string)
    + business_city: `Holon` (string)
    + business_postal_code: `123456` (string)
    + business_country_iso: `IL` (string)
            
+ Request (application/json)
    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
            

    + Body

            {
            "customer_name": "Moshe cohen",
            "email": "moshe@example.com",
            "paying_vat": true,
            "vat_number": 123456789,
            "customer_number": 145789,
            "notes": "",
            "phone": "039666666",
            "contacts": [
                {
                    "full_name": "Moshe cohen",
                    "cell_phone": "",
                    "contact_email": "",
                    "contact_address": "Haim Weizman 58",
                    "contact_city": "Holon",
                    "contact_postal_code": "789465",
                    "contact_country_iso": "IL",
                    "job_position": ""
                }
            ],
            "business_address": "Haim Weizman 12",
            "business_city": "Holon",
            "business_postal_code": "432765",
            "business_country_iso": "IL",
            }


+ Response 200 
    

            {
                "results": {
                    "status": "success",
                    "code": 0,
                    "description": "operation has been success"
                },
                 "data": {
                    "customer_uid": "84aa6e4e-fe42-4d5f-b9cd-59dbc3817f10"
                }
            }


### Update [POST /Customers/Update/:{uid}]


+ Parameters
    + uid: `84aa6e4e-fe42-4d5f-b9cd-59dbc3817f10` (string,required) - Required Path variable -> customer uuid.

+ Attributes ()
    + email: `david@domain.com` (string,required)
    + customer_name: `David levi` (string)- Company Name
    + paying_vat: true (boolean)- Automatic VAT calculation on the customer invoice
    + vat_number: 123456789 (string) - Customer ID
    + customer_number: `537876` (string) - Internal customer number in the system
    + notes: `david@domain.com` (string)
    + phone: `039666666` (string)
    + contacts (array)
        + (object)
            + full_name: `Moshe Cohen` (string) 
            + cell_phone: `054123456` (string)
            + contact_email: `moshecohen@example.com` (string)
            + contact_address: `Haim Weizman 58` (string)
            + contact_city: `Holon` (string)
            + contact_postal_code: `789465` (string)
            + contact_country_iso: `IL` (string)
            + job_position (enum)
                + `main-contact-person`
                + `management`
                + `technical-department`
                + `accounting-and-finance`
                + `legal-department`
                + `personnel-department`
                + `marketing-and-advertising-department`
                + `other`
    + business_address: `Haim Weizman 51` (string)
    + business_city: `Holon` (string)
    + business_postal_code: `123456` (string)
    + business_country_iso: `IL` (string)
                
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
            
    + Body

            {
                "customer_name": "Moshe cohen",
                "email": "moshe@example.com",
                "paying_vat": true,
                "vat_number": 123456789,
                "customer_number": 145789,
                "notes": "",
                "phone": "039666666",
                "contacts": [
                    {
                        "full_name": "Moshe cohen",
                        "cell_phone": "",
                        "contact_email": "",
                        "contact_address": "Haim Weizman 58",
                        "contact_city": "Holon",
                        "contact_postal_code": "789465",
                        "contact_country_iso": "IL",
                        "job_position": ""
                    }
                ],
                "business_address": "Haim Weizman 12",
                "business_city": "Holon",
                "business_postal_code": "432765",
                "business_country_iso": "IL",
            }
        
+ Response 200 
    

            {
                "result": {
                    "status": "success",
                    "code": 0,
                    "description": "operation has been success"
                },
                 "data": {
                         "customer_uid": "84aa6e4e-fe42-4d5f-b9cd-59dbc3817f10"

                    }
            }
            
### View [GET /Customers/View/?{vat_number}?{uuid}?{email}?{skip}?{take} ]
 

+ Parameters
    + vat_number: 123456789 (string,optional) - Optional query variable - Customer ID.
    + uuid: `84aa6e4e-fe42-4d5f-b9cd-59dbc3817f10` (string,optional) - Optional query variable -> customer uuid .
    + email: `david@domain.com` (string,optional) - Optional query variable.
    + skip: 0 (string,optional) - Optional query variable , From where you want to start take records.in this example you start from the first record
    + take: 5 (string,optional) -Optional query variable , required if skip have some value. This means that you want take 5 records.

   
            
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}


            
+ Response 200 
    

            [
                {
                    "company_uid": "652aea4d-3da1-4238-8a5e-012e1481b5d5",
                    "customer_name": "Yohan Paris",
                    "customer_uid": "3107d06f-2364-402b-8c42-d2c10a4f9f11",
                    "vat_number": "033882288",
                    "customer_number": "000001",
                    "notes": null,
                    "full_name": null,
                    "phone": "0541341123",
                    "cell_phone": null,
                    "email": "moshe@example.com",
                    "contact_address": null,
                    "contact_city": null,
                    "contact_postal_code": null,
                    "contact_country_iso": null,
                    "business_address": "26 rue test",
                    "business_city": "Paris",
                    "business_postal_code": "75017",
                    "business_country_iso": "FR",
                    "uid": "3107d06f-2364-402b-8c42-d2c10a4f9f11",
                    "paying_vat": true
                }
            ]


## Banks [/Banks/CreateCustomerBankAccount]

### Add [POST /Banks/CreateCustomerBankAccount]

+ Attributes ()
    + customer_uid: `3107d06f-2364-402b-8c42-d2c10a4f9f11` (string,required) -Customer UID in order to add the bank to this customer
    + bank_code:  12 (number,required) -Bank code based on the banks codes dictionary
    + branch_code: 539 (number,required)-Bank Code based on the banks codes dictionary
    + account_number: 55220 (number,required) -Customer account number
    + account_name: `account test` (string,required) -Customer account name as registered in the bank

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              "customer_uid": "3107d06f-2364-402b-8c42-d2c10a4f9f11",
              "bank_code": 12,
              "branch_code": 539,
              "account_number": 552200,
              "account_name": "account test"
            }

    
+ Response 200 
    
        {
          "results": {
            "status": "success",
            "code": 0,
            "description": "operation has been success"
          },
          "data": {
            "uid": "a2add155-dcab-4f65-a162-c21a1555d128",
            "customer_uid": "3107d06f-2364-402b-8c42-d2c10a4f9f11",
            "account_name": "בדיקה",
            "account_number": 123456789,
            "branch_code": 83
            "bank_code":13
          }
        }


        
### Update [POST /Banks/UpdateCustomerBankAccount/:{uid} ]

+ Parameters 
    + uid: `e67d7991-6b13-44de-94ff-95c9ca55be84` (string,required) - Required Path variable -> category uid.
            
+ Attributes ()
    + bank_code:  12 (number,required) -Bank code based on the banks codes dictionary
    + branch_code: 539 (number,required)-Bank Code based on the banks codes dictionary
    + account_number: 55220 (number,required) -Customer account number
    + account_name: `account test` (string,required) -Customer account name as registered in the bank

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              "bank_code": 12,
              "branch_code": 539,
              "account_number": 552200,
              "account_name": "account test"
            }

    
+ Response 200 
    
        {
          "results": {
            "status": "success",
            "code": 0,
            "description": "operation has been success"
          },
          "data": {
            "uid": "a2add155-dcab-4f65-a162-c21a1555d128",
            "customer_uid": "3107d06f-2364-402b-8c42-d2c10a4f9f11",
            "account_name": "בדיקה",
            "account_number": 123456789,
            "branch_code": 83
            "bank_code":13
          }
        }


### Remove [POST /Banks/RemoveCustomerBankAccount/:{bank_account_uid}]
            
+ Parameters 
    + bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Bank Account UID.
    

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    
+ Response 200 
    
        {
          "results": {
            "status": "success",
            "code": 0,
            "description": "operation has been success"
          },
          "data": {
            "card_uid": "a2add155-dcab-4f65-a162-c21a1555d128"
          }
        }
        


### View [GET /Banks/CustomerBankAccounts/?{customer_uid}]

+ Parameters 
    + customer_uid: 50 (number,optional) - Customer UID
    

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
    
+ Response 200 
    
        {
          "results": {
            "status": "success",
            "code": 0,
            "description": "operation has been success"
          },
          "data": [
           {
              "bank": "13001-בנק אגוד לישראל בע\"מ (13)",
              "bank_code": 13,
              "branch": "מרכז הכרמל (83)",
              "branch_code": 83,
              "account_name": "בדיקה",
              "account_number": "123456789",
              "customer_uid": "6a769c24-7875-4fe0-8c36-32c65cefd639",
              "uid": "a2add155-dcab-4f65-a162-c21a1555d128"
            }
          ]
        }

### Company Bank Accounts [GET /Banks/CompanyBankAccounts]

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
    
+ Response 200 
    
        {
          "results": {
            "status": "success",
            "code": 0,
            "description": "operation has been success"
          },
          "data": [
           {
              "bank": "בנק אגוד לישראל בע\"מ (13)",
              "bank_code": 13,
              "branch": "מרכז הכרמל (83)",
              "branch_code": 83,
              "account_name": "בדיקה",
              "account_number": "123456789",
              "masav_code": "12345678",
              "uid": "b1b3f508-7e53-409f-a79c-99db0672bccb"
            }
          ]
        }


## Products Categories [/Categories/Add]

### Add [POST /Categories/Add ]

+ Attributes ()
    + name: `Appliances` (string,required)
    + valid:  true (boolean,required) -Affects category status

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              "name": "Appliances",
              "valid": true  
            }

    
+ Response 200 
    
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "category_uid": "e1396310-e3f8-461f-b80a-55b199211359",
            }
        }


        
### Update [POST /Categories/Update/:{uid} ]

+ Parameters 
    + uid: `e67d7991-6b13-44de-94ff-95c9ca55be84` (string,required) - Required Path variable -> category uid.
            
+ Attributes ()
    + name: `Appliances` (string,required)
    + valid: false (boolean,required) -Affects category status

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              "name": "Appliances",
              "valid": false,
            }

    
+ Response 200 
    
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "category_uid": "e1396310-e3f8-461f-b80a-55b199211359",
            }
        }
        
        

### View [GET /Categories/View/?{uid}]

+ Parameters 
    + uid: 50 (number,optional) - Optional Query variable -> BigInt.
    

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
    
+ Response 200 
    
        [
            {
                "id": "1",
                "uuid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
                "name": "מוצרים כללים",
                "parent_category_id": null,
                "valid": true,
                "company_id": 1,
                "created_at": "2020-11-24T13:39:53.207Z",
                "updated_at": "2020-11-24T13:39:56.375Z",
                "deleted_at": null,
                "subCategories": []
            }
        ]
        



## Products [/Products/Add]

### Add [POST]
            
+ Attributes ()
    + category_uid: `5e443e90-d0d8-47bf-8362-85d6c3ac4763` (string,required)
    + name: `TV` (string,required)
    + price: 1500.50 (number,required)-Selling price
    + currency_code: `ILS` (string,required)
    + vat_type: 1 (number,required)- 0-'vat included' OR 1-'vat not included' OR 2- 'exempt vat'
    + valid: true (boolean)-Affects product status
    + barcode: `12345689` (string)
    + value: 20.20 (number)-Cost Price
    + description: `Smart TV` (string)
    + fixed_amount_discount: 10.10 (number)
    + percentage_discount: 10.10 (number)
    + guide_document_url: `https://www.someguidelink.com/" (string,optional)-Mostly used for invoies to send manual docmentation of a product when customer buying product

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "category_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "name": "TV",
              "price": 1500.50,
              "currency_code": "ILS",
              "vat_type": 1,
              "valid": true,
              "barcode": "123456789",
              "value": 20.20,
              "description": "Smart TV",
              "fixed_amount_discount": 10.10,
              "percentage_discount": 10.10,
            }
            
+ Response 200 
    

        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "product_uid": "e1396310-e3f8-461f-b80a-55b199211359",
            }
        }
        
### Update [POST /Products/Update/:{uid}]
            
+ Parameters
    + uid: `84aa6e4e-fe42-4d5f-b9cd-59dbc3817f10` (string,required) - Required Path variable -> product uid.
            
+ Attributes ()
    + category_uid: `5e443e90-d0d8-47bf-8362-85d6c3ac4763` (string,required)
    + name: `TV` (string,required)
    + valid: false (boolean,optional)--Affects product status
    + price: 1500.50 (number,required)-Selling price
    + currency_code: `ILS` (string,required)
    + vat_type: 1 (number,required)- 0-'vat included' OR 1-'vat not included' OR 2- 'exempt vat'
    + barcode: `2345673214` (string)
    + value: 20.20 (number)-Cost price
    + description: `Smart TV` (string)
    + fixed_amount_discount: 10.10 (number)
    + percentage_discount: 10.10 (number)
    + guide_document_url: `https://www.someguidelink.com/" (string,optional)-Mostly used for invoies to send manual docmentation of a product when customer buying product

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "category_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "name": "TV",
              "valid": false,
              "price": 1500.50,
              "currency_code": "ILS",
              "vat_type": 1,
              "barcode": "2345673214",
              "value": 20.20,
              "description": "Smart TV",
              "fixed_amount_discount": 10.10,
              "percentage_discount": 10.10
            }
            
+ Response 200 
    

        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "product_uid": "e1396310-e3f8-461f-b80a-55b199211359",
            }
        }
        
        

### View [GET /Products/View/?{currency_code}?{uid}?{barcode}]

+ Parameters 
    + barcode: `88904788` (string,optional) - Optional: Query variable, View products by Barcode.
    + currency_code: `ILS` (string,optional) - Optional: Query variable, View all products with the same currency code.
    + uid: `e443e90-d0d8-47bf-8362-85d6c3ac4763` (string,optional) - Optional: Query variable -> product uid.

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

+ Response 200 
    
        [
             {
                "uuid": "5e443e90-d0d8-47bf-8362-85d6c3ac4763",
                "name": "אופנוע KTM",
                "barcode": "45461",
                "value": 500,
                "price": 780,
                "category_uid": "844bef64-fd4e-4d6f-a8c5-172f14ea5d75",
                "category_name": "אופנועים",
                "currency_code": "ILS",
                "description": "אופנוע קטלני של נועה",
                "image_url": null,
                "fixed_amount_discount": 10,
                "percentage_discount": 10,
                "valid": true,
                "vat_type": "vat-type-included",
                "guide_document_url": "https://www.someguidelink.com/"
            },
            {
                "uuid": "3fa0bf49-0c31-4a4b-af83-50f22ef4e864",
                "name": "סדנת בישול למתקדמים",
                "barcode": "45465465",
                "value": 180,
                "price": 100,
                "category_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
                "category_name": "מוצרים כללים",
                "currency_code": "ILS",
                "description": null,
                "image_url": null,
                "fixed_amount_discount": 12,
                "percentage_discount": 12,
                "valid": true,
                "vat_type": "vat-type-included",
                "guide_document_url": "https://www.someguidelink.com/"
            }

        ]
        



        
## Tokens [/Token/Add]

### Add [POST]

+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + credit_card_number: `5326120380000218` (string,required)
    + card_date_mmyy: `01/24` (string,required) - 01=month , 24=year
    + name: `name` (string,optional) - card nick name
    + identification_number: nullable (string, optional) - Store card holder identification number
    + previous_uid: `153cf0ac-25cd-4cc3-b657-3e39e0aada51` (string,optional) - In case you would like to copy other UID, if not exist in PayPlus systems we will save this parameter, otherwise, we will create a new one

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "customer_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "credit_card_number": "5326120380000218",
              "card_date_mmyy": "01/24",
              "identification_number": "266348226",
              "name" : "job card",
              "previous_uid" : "153cf0ac-25cd-4cc3-b657-3e39e0aada51"
            }
    
+ Response 200 
    
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "card_uid": "df636855-1a04-4f24-90d4-a946df5ccf3b7890",
             }
        }
        

### Remove [POST /Token/Remove/:{uid}]
            
+ Parameters 
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> card token.
    

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    
+ Response 200 
    
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {}
        }
        

### Update [POST /Token/Update/:{uid}]
            
+ Parameters 
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> card token.

+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + credit_card_number: `0218` (string,optional)- You can leave this parameter empty to update just the expiry date.
    + card_date_mmyy: `01/24` (string,required)- 01=month , 24=year
    + name:`name` (string,optional) - card nick name
    + identification_number: nullable (string, optional) - Store card holder identification number

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "credit_card_number": "5326120380000218",
              "card_date_mmyy": "01/24",
              "name" : "job card"

    
+ Response 200 
    
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                 "card_uid": "df636855-1a04-4f24-90d4-a946df5ccf3b7890",
             }
        }
        
### Check [GET /Token/Check/:{uid}]
You may create your own question using this action.
This action takes a JSON payload as part of the request.
Response then return specific header and body.

+ Parameters
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> Card Token

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    
+ Response 200 
    
        {
            "results": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
            "token_uid": "e1396310-e3f8-461f-b80a-55b199211359",
            "customer_uid": "03a5734e-668a-444f-beef-a9376d4d967e",
            "four_digits": "1234",
            "expiry_month": "01",
            "expiry_year": "21",
            "brand_id": 10,
            "issuer_id": 1,
            "brand_name": "amex",
            "issuer_name": "isracard"
            },
        }
        


### View [GET /Token/View/:{uid}?{mask}]

+ Parameters 
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> Card Token
    + mask: false (boolean,optional) - Hide or show full card numbers or mask the card number with 4 last digits

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    
+ Response 200 
    
        {
            "results": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                    "customer_uid": "e1396310-e3f8-461f-b80a-33b299211351",
                    "decryptCard": "4580101900049590",
                    "ExpMM": "11",
                    "ExpYY": "21",
                    "name": "name or nickname",
                    "identification_number": "266348226"
                },
        }
        

### List [POST /Token/List ]
            
+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + filter (object,optional)
        + name:`David` (string,optional)

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "terminal_uid": "e1396310-e3f8-461f-b80a-55b199211359",
              "customer_uid": "e1396310-e3f8-461f-b80a-55b199211359"


+ Response 200 
    
        {
            "results": {
            "status": "success",
            "code": 0,
            "description": "cards list"
            },
            "data": [
            {
                "card_date_mmyy": "0424",
                "last_4_digits": "1234",
                "token": "78623420-706e-46a0-bb2b-95c5605325051812",
                "customer_uid": "03a5734e-668a-444f-beef-a9376d4d922e",
                "name": null
                }
                ]
            }
        

## Recurring Payments [/RecurringPayments/Add]

### Add [POST]


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + card_token: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - This field is not required if it's bank recurring order
    + bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) - Customer bank account uid in order to charge his account
    + company_bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) - In case this is bank masav order, this field is required
    + cashier_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + currency_code: `ILS` (string,required)
    + instant_first_payment: false (boolean,required)
    + recurring_type: 1 (number,required)- 0-daily OR 1-weekly OR 2-monthly
    + recurring_range: 1 (number,required)
    + number_of_charges: 3 (number,required)- If need unlimited charges - number of charges need to be 0
    + start_date: `2020-12-16` (string,required)-When the recurring charges will start
    + end_date: `2028-01-16` (string,optional)-When the recurring will stop, in case the recurring is unlimited.
    + items (array,required) - Array of objects
        + (object)
            + product_uid:`de11bca8-416e-4b47-9e5a-0040e21b0b3f` (string,required)
            + quantity:1 (number,required)-Quantity of billable products
            + price:100 (number,required)-Quantity of billable products
            + discount_type:"amount" (string,optional)-'percentage' OR 'amount'
            + discount_value:10 (number,optional) - Required if discount type have value
            + product_invoice_extra_details: "some text" (string,optional)
    + one_time_items (array,optional) - Array of objects
        + (object)
            + product_uid:`ba4c68a6-0e26-4bc7-b26c-6712d7761c3a` (string,required)
            + quantity:1 (number,required)-Quantity of billable products
            + price:150 (number,required)-Quantity of billable products
            + discount_type:"amount" (string,optional)-'percentage' OR 'amount'
            + discount_value:10 (number,optional) - Required if discount type have value
            + product_invoice_extra_details: "some text" (string,optional)
    + customer_failure_email: false (boolean,optional)- Send email if failure on charge
    + successful_invoice: false (boolean,optional) - Print invoice if charge success
    + send_customer_success_email: false (boolean,optional)
    + send_customer_success_sms: false (boolean,optional) - If SMS package purchased the system will notify your customer by SMS
    + customer_failure_sms: false (boolean,optional) - If SMS package purchased the system will notify your customer by SMS
    + one_time_charge_date: `2020-12-16` (string,optional)
    + extra_info: `Charging two products` (string,optional)
    
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "customer_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "card_token": "e1396310-e3f8-461f-b80a-55b199211359",
              "cashier_uid": "e1396310-e3f8-461f-b80a-55b199211359",
              "currency_code": "ILS",
              "instant_first_payment": false,
              "customer_failure_email": false,
              "successful_invoice": false,
              "send_customer_success_email": false,
              "recurring_type": 1, 
              "recurring_range": 1, 
              "number_of_charges": 3, 
              "start_date":"2020-12-16",
              "items":[{
                "product_uid":"ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                "quantity":1,
                "price" : 100,
              }],
              "one_time_items":[{
                "product_uid":"ba4c68a6-0e26-4bc7-b26c-6712d7761c3a",
                "quantity":1,
                "price" : 150,
              }],
              "one_time_charge_date":"2020-12-16",
              "extra_info":"Charging two products"
            }

    
+ Response 200 
        
        
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "recurring_payment_uid": "d70334d6-62c4-4a6a-a9e3-b49e3495a451",
             }
        }
     

### Remove [POST /RecurringPayments/DeleteRecurring/:{uid}]
            
+ Parameters 
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> recurring payment_uid 


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
            }
 
+ Response 200 
        
        
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "recurring_payment_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8"
            }
        }
        

### Update [POST /RecurringPayments/Update/:{uid}]
            
+ Parameters 
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> recurring payment_uid 


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + cashier_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + card_token: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - This field is not required if it's bank recurring order
    + bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) - Customer bank account uid in order to charge his account
    + company_bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) - In case this is bank masav order, this field is required
    + valid: true (boolean,required) - Active / Inactive the recurring payment
    + items (array) - Array of objects
        + (object)
            + product_uid:`de11bca8-416e-4b47-9e5a-0040e21b0b3f` (string,required)
            + quantity:1 (number,required)-Quantity of billable products
            + price:100 (number,required)-Quantity of billable products
            + discount_type:"amount" (string,optional)-'percentage' OR 'amount'
            + discount_value:10 (number,optional) - Required if discount type have value
    + currency_code: `ILS` (string,required)
    + instant_first_payment: false (boolean,required)
    + recurring_type: 1 (number,required) - 0-daily OR 1-weekly OR 2-monthly
    + recurring_range: 1 (number,required) 
    + number_of_charges: 3 (number,required)- If need unlimited charges - number of charges need to be 0
    + start_date: `2020-12-16` (string,optional)-Update future date of the recurring
    + end_date: `2028-01-16` (string,optional)-When the recurring will stop, in case the recurring is unlimited.
    + one_time_items (array) - Array of objects
        + (object)
            + product_uid:`de11bca8-416e-4b47-9e5a-0040e21b0b3f` (string,required)
            + quantity:1 (number,required)-Quantity of billable products
            + price:100 (number,required)-Quantity of billable products
            + discount_type:"amount" (string,optional)-'percentage' OR 'amount'
            + discount_value:10 (number,optional) - Required if discount type have value
    + successful_invoice: false (boolean,optional)-Print invoice if charge success
    + send_customer_success_email: false (boolean,optional)
    + customer_failure_email: false (boolean,optional)- Send email if failure on charge
    + send_customer_success_sms: false (boolean,optional) - If SMS package purchased the system will notify your customer by SMS
    + customer_failure_sms: false (boolean,optional) - If SMS package purchased the system will notify your customer by SMS
    + one_time_charge_date: `2020-12-16` (string,optional)
    + extra_info: `quantity price updated` (string,optional)
    
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "customer_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "card_token": "e1396310-e3f8-461f-b80a-55b199211359",
              "cashier_uid": "e1396310-e3f8-461f-b80a-55b199211359",
              "currency_code": "ILS",
              "instant_first_payment": false,
              "customer_failure_email": false,
              "successful_invoice": false,
              "cancel_recurring_on_failure": false,
              "recurring_type": 1, 
              "recurring_range": 1, 
              "number_of_charges": 3,
              "start_date":"2020-12-16",
              "items":[{
                "product_uid":"ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                "quantity":1,
                "price" : 100,
              }],
              "one_time_items":[{
                "product_uid":"ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                "quantity":1,
                "price" : 100,
              }],
              "one_time_charge_date":"2020-12-16",
              "extra_info":"quantity price updated"
            }

+ Response 200 
        
        
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "recurring_payment_uid": "d70334d6-62c4-4a6a-a9e3-b49e3495a451",
             }
        }
        

### View [GET /RecurringPayments/View/{terminal_uid}?{customer_uid}?{skip}?{take}]

+ Parameters 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Query variable .
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) -  Optional Query variable .
    + skip: 0 (string,optional) - Optional Query variable, From where you want to start take records.in this example you start from the first record
    + take: 5 (string,optional) - Optional Query variable required if skip have some value. This means that you want take 5 records.

            
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
    
+ Response 200 
        
        {
            "data": [
                {
                    "uid": "7389f623-60d4-4bd5-937b-e8f0fe73240a",
                    "number": "Aj156",
                    "created_at": "19/01/2021",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "each_payment_amount": 10,
                    "already_charged_transfers": 0,
                    "already_charged_amount": 0,
                    "number_of_charges": 5,
                    "cc_number": "0218",
                    "cc_expiration": "0124",
                    "start_date": "2021-02-10",
                    "first_charge_date": "2021-02-10",
                    "valid": true,
                    "recurring_type": "weekly",
                    "extra_info": "",
                    "cashier_name": "קופה כללית",
                    "currency_code": "ILS",
                    "recurring_range": 4
                },
                {
                    "uid": "a2e0d0bf-b7ab-44f2-b78a-f042d1e75669",
                    "number": "AB332",
                    "created_at": "14/01/2021",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "each_payment_amount": 1234.22,
                    "already_charged_transfers": 0,
                    "already_charged_amount": 0,
                    "number_of_charges": 0,
                    "cc_number": "1672",
                    "cc_expiration": "0121",
                    "start_date": "2021-01-15",
                    "first_charge_date": "2021-01-15",
                    "valid": true,
                    "recurring_type": "weekly",
                    "extra_info": "",
                    "cashier_name": "קופה כלליתקופה כללית",
                    "currency_code": "ILS",
                    "recurring_range": 1
                }
            ],
            "pages": 1,
            "count": 11
        }
        
### Valid [POST /RecurringPayments/:{uid}/Valid]
            
+ Parameters 
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> recurring payment_uid 


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + valid: true (boolean,required) - Active / Inactive the recurring payment

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "valid":true
            }

+ Response 200 
        
        
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "recurring_payment_uid": "d70334d6-62c4-4a6a-a9e3-b49e3495a451",
             }
        }


### View Recurring [GET /RecurringPayments/:{uid}/ViewRecurring/{?terminal_uid}]

+ Parameters 
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable .
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Query variable .

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
    
+ Response 200 
        
        {
            "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
            "cashier_uid": "1bc7b001-d90c-43b3-a8bb-58ab8a3013ba",
            "card_token": "0868522e-ed12-43f1-bcfb-d4bdf0fbc1b71672",
            "currency_code": "ILS",
            "instant_first_payment": false,
            "customer_failure_email": true,
            "successful_invoice": false,
            "send_customer_success_email": true,
            "recurring_type": 0,
            "recurring_range": 2,
            "start_date": "2020-12-22",
            "number_of_charges": 5,
            "amount": 11.7,
            "items": [
                {
                    "product_uid": "ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                    "name": "מוצר כללי",
                    "quantity": "5",
                    "currency_code": "ILS",
                    "quantity_price": 2,
                    "amount_pay": 11.7,
                    "vat": 1.7,
                    "product_invoice_extra_details": null,
                    "discount_type": null,
                    "discount_amount": 0,
                    "discount_value": null,
                    "quantity_price_including_vat": 2.34,
                    "product_id": "1",
                    "vat_type": 1,
                    "vat_percentage": 17
                }
            ],
            "one_time_items": null,
            "one_time_charge_date": null,
            "number": "C13663",
            "extra_info": "",
            "uid": "ca168461-5613-42c6-a9ef-243fa0f91bfb"
        }
        

### List Charges [GET /RecurringPayments/:{uid}/ViewRecurringCharge/{?terminal_uid}{?skip}{?take}]

+ Parameters 
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> recurring payment_uid .
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Query variable .
    + skip: 0 (string,optional) - Optional Query variable, From where you want to start take records.in this example you start from the first record
    + take: 5 (string,optional) - required if skip have some value. This means that you want take 5 records.

            
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

+ Response 200 
        
        
        {
            "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
            "recurring_uid": "7389f623-60d4-4bd5-937b-e8f0fe73240a",
            "data": [
                {
                    "charge_date": "21/01/2021",
                    "charge_type": "instant",
                    "card_number": "0218",
                    "card_expiry": "0124",
                    "card_token": "9ac92d49-fd83-48ec-ab8e-d180527957c30218",
                    "amount": 10,
                    "currency": "ILS",
                    "valid": true,
                    "uid": "689e7bdb-80d1-45a3-a4dc-e79bcc9e7c1d",
                    "items": [
                        {
                            "product_uid": "ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                            "name": "מוצר כללי",
                            "quantity": 1,
                            "currency_code": "ILS",
                            "quantity_price": 8.55,
                            "amount_pay": 10,
                            "vat": 1.45,
                            "product_invoice_extra_details": "",
                            "discount_type": null,
                            "discount_amount": 0,
                            "discount_value": null,
                            "quantity_price_including_vat": 10,
                            "product_id": "1",
                            "vat_type": 1,
                            "vat_percentage": 17
                        }
                    ],
                    "extra_info": "",
                    "status": null,
                    "errorCode": null,
                    "invoice": null,
                    "transaction_id": null
                },
                {
                    "charge_date": "10/02/2021",
                    "charge_type": "recurring",
                    "card_number": "0218",
                    "card_expiry": "0124",
                    "card_token": "9ac92d49-fd83-48ec-ab8e-d180527957c30218",
                    "amount": 10,
                    "currency": "ILS",
                    "valid": true,
                    "uid": "58e9f417-c7cd-4b1c-8f7a-b670f7190a55",
                    "items": [
                        {
                            "product_uid": "ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                            "name": "מוצר כללי",
                            "quantity": 1,
                            "currency_code": "ILS",
                            "quantity_price": 8.55,
                            "amount_pay": 10,
                            "vat": 1.45,
                            "product_invoice_extra_details": "",
                            "discount_type": null,
                            "discount_amount": 0,
                            "discount_value": null,
                            "quantity_price_including_vat": 10,
                            "product_id": "1",
                            "vat_type": 1,
                            "vat_percentage": 17
                        }
                    ],
                    "extra_info": "",
                    "status": null,
                    "errorCode": null,
                    "invoice": null,
                    "transaction_id": null
                },
                {
                    "charge_date": "02/06/2021",
                    "charge_type": "recurring",
                    "card_number": "0218",
                    "card_expiry": "0124",
                    "card_token": "9ac92d49-fd83-48ec-ab8e-d180527957c30218",
                    "amount": 10,
                    "currency": "ILS",
                    "valid": true,
                    "uid": "79bc3220-22b1-4962-b169-f7b2edc6d219",
                    "items": [
                        {
                            "product_uid": "ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                            "name": "מוצר כללי",
                            "quantity": 1,
                            "currency_code": "ILS",
                            "quantity_price": 8.55,
                            "amount_pay": 10,
                            "vat": 1.45,
                            "product_invoice_extra_details": "",
                            "discount_type": null,
                            "discount_amount": 0,
                            "discount_value": null,
                            "quantity_price_including_vat": 10,
                            "product_id": "1",
                            "vat_type": 1,
                            "vat_percentage": 17
                        }
                    ],
                    "extra_info": "",
                    "status": null,
                    "errorCode": null,
                    "invoice": null,
                    "transaction_id": null
                }
            ]
        }


### Customer Credit Card Renewal Notification [POST /RecurringPayments/CreditCardRenewal/:{recurring_uid}]


+ Parameters
    + recurring_uid: `84aa6e4e-fe42-4d5f-b9cd-59dbc3817f10` (string,required) - Required Path variable -> Recurring UID.

+ Attributes ()
    + terminal_uid: `83d218ac-478c-413a-ac79-fe63fe966de9` (string,required) - Terminal UID

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
            
    + Body

            {
              "terminal_uid": "83d218ac-478c-413a-ac79-fe63fe966de9"
            }
        
+ Response 200 
    

            {
                "result": {
                    "status": "success",
                    "code": 0,
                    "description": "operation has been success"
                },
                 "data": {}
            }
   
## Recurring Charges [/RecurringPayments/AddRecurringCharge/:{uid}]  

        
### Add [POST ]

+ Parameters
    + uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable -> recurring payment_uid


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + card_token: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - This field is not required if it's bank recurring order
    + cvv: `461` (string, optional) - In case the terminal is opened as recurring, this field is mandatory for initialization transactions when a new recurring order is created.
    + bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) - Customer bank account uid in order to charge his account
    + company_bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) - In case this is bank masav order, this field is required
    + charge_date: `2020-12-16` (string,required)
    + valid: false (boolean,required) -Affects recurring Charge status
    + items (array,required) - Array of objects
        + (object)
            + product_uid:`de11bca8-416e-4b47-9e5a-0040e21b0b3f` (string,required)
            + quantity:1 (number,required)-Quantity of billable products
            + price:100 (number,required)-Quantity of billable products
            + discount_type:"amount" (string,optional)-'percentage' OR 'amount'
            + discount_value:10 (number,optional) - Required if discount type have value
    + extra_info: `Smart TV` (string,optional)

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "charge_date": "2020-12-16",
              "card_token": "e1396310-e3f8-461f-b80a-55b199211359",
              "valid": false, 
              "extra_info": "Smart TV",
              "items":[{
                "product_uid":"ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                "quantity":1,
                "price" : 100,
              }],

            }

+ Response 200 
        
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "recurring_charge_uid": "4df4d693-bf7f-4ce8-b92f-f0247228faf6"}
        }

### Remove [POST /RecurringPayments/DeleteRecurringCharge/:{charge_uid}]

+ Parameters
    + charge_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
            }

    
+ Response 200 
        
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {}
        }

### Update [POST /RecurringPayments/UpdateRecurringCharge/:{charge_uid}]


+ Parameters
    + charge_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - Required Path variable


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + card_token: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) - This field is not required if it's bank recurring order
    + cvv: `461` (string, optional) - In case the terminal is opened as recurring, this field is mandatory for initialization transactions when a new recurring order is created.
    + bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) - Customer bank account uid in order to charge his account
    + company_bank_account_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional) - In case this is bank masav order, this field is required
    + charge_date: `2020-12-16` (string,required)
    + valid: false (boolean,required)-Affects recurring Charge status
    + items (array,required) - Array of objects
        + (object)
            + product_uid:"ba4c68a6-0e26-4bc7-b26c-675f87761c3a" (string)
            + quantity:1 (number)
            + price:100 (number)
    + extra_info: `` (string,optional)

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
              
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "charge_date": "2020-12-16",
              "card_token": "e1396310-e3f8-461f-b80a-55b199211359",
              "valid": false,
              "extra_info": "",
              "items":[{
                "product_uid":"ba4c68a6-0e26-4bc7-b26c-675f87761c3a",
                "quantity":1,
                "price" : 100,
              }],

            }

    
+ Response 200 
        
        {
            "result": {
                "status": "success",
                "code": 0,
                "description": "operation has been success"
            },
            "data": {
                "recurring_charge_uid": "4df4d693-bf7f-4ce8-b92f-f0247228faf6"
                }
        }
        

### View [POST /RecurringPayments/GetRecurringCharge]

+ Attributes 
    + charge_uid: `e1312310-e3f8-461f-b80a-55b199211359` (string,required)
    + terminal_uid: `e13963120-e3f1-461f-cz82a-55b11x211359` (string,required) 

+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}
            
    + Body

            {
              
              "charge_uid": "e1312310-e3f8-461f-b80a-55b199211359",
              "terminal_uid": "e13963120-e3f1-461f-cz82a-55b11x211359"
             

            }
    
+ Response 200 
        
        {
            "id": "134",
            "uuid": "2601ax6c-b45a-421d-814f-f3bc6a6840f8",
            "recurring_id": 53,
            "user_id": 2,
            "source_id": 4,
            "card_token_id": 43,
            "status": 0,
            "transactions_approvals_id": null,
            "type": 0,
            "valid": true,
            "amount": 1000,
            "extra_info": null,
            "charge_date": "2021-03-10",
            "items": null,
            "execution_date": null,
            "created_at": "2021-01-20T14:46:34.499Z",
            "updated_at": "2021-01-20T14:46:34.499Z",
            "deleted_at": null,
            "recurringPayment": {
                "id": "53",
                "uuid": "7389f623-6124-4bd5-91ab-e8f0fe73240a",
                "number": "rd506",
                "customer_id": 1,
                "card_token_id": 43,
                "currency_code": "ILS",
                "cashier_id": 2,
                "user_id": "2",
                "instant_first_payment": true,
                "customer_failure_email": true,
                "successful_invoice": true,
                "send_customer_success_email": false,
                "recurring_type": 1,
                "recurring_range": 4,
                "amount": 1000,
                "start_date": "2021-02-10",
                "extra_info": "",
                "number_of_charges": 5,
                "valid": true,
                "items": [
                    {
                        "product_uid": "ba1ac8a6-0e26-4bc7-b26c-675f87761c3a",
                        "name": "מוצר כללי",
                        "quantity": 1,
                        "currency_code": "ILS",
                        "quantity_price": 855,
                        "amount_pay": 1000,
                        "vat": 145,
                        "product_invoice_extra_details": "",
                        "discount_type": null,
                        "discount_amount": 0,
                        "discount_value": null,
                        "quantity_price_including_vat": 1000,
                        "product_id": "1",
                        "vat_type": 1,
                        "vat_percentage": 1700
                    }
                ],
                "one_time_items": null,
                "one_time_charge_date": null,
                "source_id": 4,
                "created_at": "2021-01-19T06:21:06.999Z",
                "updated_at": "2021-01-20T14:46:34.480Z",
                "deleted_at": null,
                "cashier": {
                    "id": "2",
                    "uuid": "1bc7b1ax1-d90c-41ax3-a8bb-58ab8a3013ba",
                    "company_id": "2",
                    "name": "קופה כללית",
                    "number": 1,
                    "company_terminal_id": "2",
                    "system_type_yosi": null,
                    "created_at": "2020-12-11T06:31:41.302Z",
                    "updated_at": "2021-01-14T08:05:00.971Z",
                    "deleted_at": null
                }
            },
            "cardToken": {
                "id": "43",
                "name": null,
                "customer_id": 1,
                "valid": true,
                "card_token": "9ac92d49-fd83-48ec-ab8e-d180527957c30218",
                "last_4_digits": "0218",
                "card_date_mmyy": "0124",
                "clearing_id": 6,
                "brand_id": 2,
                "issuer_id": 1,
                "created_at": "2020-12-31T14:05:16.205Z",
                "updated_at": "2020-12-31T14:05:16.205Z",
                "deleted_at": null
            }
        }
        
## Reports - Recurring Payments [/RecurringPaymentsReports/Charged]

### Charged [GET]


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + currency_code: `ILS` (string,required)
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional)
    + from_date: `2020-12-01` (string,optional)
    + till_date: `2021-01-16` (string,optional)
    
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
             
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "currency_code": "ILS",
            }

    
+ Response 200 
        
        
        {
            "data": [
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "17/01/2021",
                    "execution_date": "19/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 10,
                    "uid": "3760e3e7-5cc4-461f-8838-dc2c518546cf"
                },
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "13/01/2021",
                    "execution_date": "14/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 180,
                    "uid": "da6417a3-8caf-442d-9b49-af0cae9495a9"
                },
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "13/01/2021",
                    "execution_date": "14/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 150,
                    "uid": "ee5c8a57-ab6d-4b23-856e-965ec8eaece9"
                },
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "12/01/2021",
                    "execution_date": "14/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 200,
                    "uid": "c210844b-275a-4315-a7a9-88af93c4011e"
                },
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "24/12/2020",
                    "execution_date": "24/12/2020",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 4.68,
                    "uid": "5ad117cc-6bbc-4213-8b1e-ab8fa5a5d5ae"
                },
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "24/12/2020",
                    "execution_date": "24/12/2020",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 10,
                    "uid": "fc3baff3-ad18-4fb9-898f-fd395fb329e9"
                },
                {
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "24/12/2020",
                    "execution_date": "24/12/2020",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 4.68,
                    "uid": "1864b51c-9011-4304-b94a-44b5516ad091"
                },
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "24/12/2020",
                    "execution_date": "24/12/2020",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 10,
                    "uid": "8d27f340-9d3d-4079-9c86-ab8750728559"
                },
                {
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "24/12/2020",
                    "execution_date": "24/12/2020",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 4.68,
                    "uid": "38202492-a8ea-4942-b2dc-36cbeda383ba"
                }
            ],
            "total_charges": 9,
            "total_amount": 574.04,
            "count": 9,
            "pages": 1
        }
        

### Failures [GET /RecurringPaymentsReports/Failures]


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + currency_code: `ILS` (string,required)
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional)
    + from_date: `2020-12-01` (string,optional)
    + till_date: `2021-01-16` (string,optional)
    
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
             
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "currency_code": "ILS",
              "from_date": "2020-12-01",
              "till_date": "2021-01-16",
            }

    
+ Response 200 
        
        {
            "data": [
                {
                    "recurring_number": 1366368,
                    "recurring_uid": "ca168461-5613-42c6-a9ef-243fa0f91bfb",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_of_failure": "23/12/2020",
                    "date_to_charge": "20/01/2021",
                    "execution_date": null,
                    "charge_type": "recurring",
                    "card_number": "1672",
                    "card_expiry": "1221",
                    "amount": 11.7,
                    "uid": "13074962-93fb-4ef1-a20a-e9e085255dad",
                    "status": null
                },
                {
                    "recurring_number": 8617,
                    "recurring_uid": "293d0515-9d6e-4a48-a417-c9357bc5bbc0",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_of_failure": "14/01/2021",
                    "date_to_charge": "12/01/2021",
                    "execution_date": null,
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 999999,
                    "uid": "9931e5fa-8282-449e-a117-4d5d3b14032e",
                    "status": {
                        "status_code": "003",
                        "key": "error-codes-terminal-type-2-code-003"
                    }
                },
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_of_failure": "14/01/2021",
                    "date_to_charge": "13/01/2021",
                    "execution_date": null,
                    "charge_type": "recurring",
                    "card_number": "8730",
                    "card_expiry": "0521",
                    "amount": 999999,
                    "uid": "0756fcf3-e0ce-466d-bf2c-ab50862f1719",
                    "status": {
                        "status_code": "003",
                        "key": "error-codes-terminal-type-2-code-003"
                    }
                },
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_of_failure": "14/01/2021",
                    "date_to_charge": "13/01/2021",
                    "execution_date": null,
                    "charge_type": "recurring",
                    "card_number": "8730",
                    "card_expiry": "0521",
                    "amount": 800000,
                    "uid": "aecde2ca-6a40-443b-a25d-85928d8838b1",
                    "status": {
                        "status_code": "003",
                        "key": "error-codes-terminal-type-2-code-003"
                    }
                }
            ],
            "total_charges": 9,
            "total_amount": 280000970,
            "pages": 1,
            "count": 4
        }
        

### Future [GET /RecurringPaymentsReports/Future]


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + currency_code: `ILS` (string,required)
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional)
    + from_date: `2020-12-01` (string,optional)
    + till_date: `2021-01-16` (string,optional)
    
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
             
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "currency_code": "ILS",
              "from_date": "2020-12-01",
              "till_date": "2021-01-16",
            }

    
+ Response 200 
        
        {
            "data": [
                {
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "18/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 4.68,
                    "uid": "0b89adbe-8639-4089-a5e8-08a54e2164d2"
                },
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "18/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 10,
                    "uid": "36517a5f-a72e-4968-bbd5-a786b917f4ac"
                },
                {
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "19/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 4.68,
                    "uid": "2a692190-fb15-402a-ad43-6f78fdf6a87e"
                },
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "19/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 10,
                    "uid": "7f354907-ee62-49b7-8fc2-7ce8e7011d50"
                },
                {
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "20/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 4.68,
                    "uid": "9ad896d1-6f16-44dd-9fa3-135032fdffcc"
                },
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "20/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0626",
                    "amount": 10,
                    "uid": "72dafa52-4889-4d7f-9b64-18f00c9b2850"
                },
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "22/01/2021",
                    "charge_type": "recurring",
                    "card_number": "8730",
                    "card_expiry": "0521",
                    "amount": 200,
                    "uid": "632c96bb-3be5-48e5-b610-c58377bc160a"
                },
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "23/01/2021",
                    "charge_type": "recurring",
                    "card_number": "8730",
                    "card_expiry": "0521",
                    "amount": 200,
                    "uid": "3361ffec-8b9d-41c7-b5db-153631b21793"
                },
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "24/01/2021",
                    "charge_type": "recurring",
                    "card_number": "8730",
                    "card_expiry": "0521",
                    "amount": 200,
                    "uid": "bcfb51a7-a272-4dec-be73-c5814d8f9062"
                }
            ],
            "total_charges": 9,
            "total_amount": 64404,
            "count": 9,
            "pages": 1
        }
        

### Cancellations [GET /RecurringPaymentsReports/Cancellations]


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + currency_code: `ILS` (string,required)
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional)
    + from_date: `2020-12-01` (string,optional)
    + till_date: `2021-01-16` (string,optional)
    
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
             
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "currency_code": "ILS",
              "from_date": "2020-12-01",
              "till_date": "2021-01-16",
            }

    
+ Response 200 
        
        {
            "data": [
                {
                    "recurring_number": 9816,
                    "recurring_uid": "b14e8daa-6945-4854-9f29-4fc7a22f1718",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "cancelled_date": "17/01/2021",
                    "date_to_charge": "13/01/2021",
                    "changer": "Bot PayPlus",
                    "charge_type": "recurring",
                    "card_number": "8730",
                    "card_expiry": "0521",
                    "amount": 999999,
                    "uid": "0756fcf3-e0ce-466d-bf2c-ab50862f1719"
                }
            ],
            "total_charges": 120,
            "total_amount": 99999900,
            "count": 1,
            "pages": 1
        }
        

### Expired [GET /RecurringPaymentsReports/expiredCards]


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + currency_code: `ILS` (string,required)
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional)

    
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
             
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",
              "currency_code": "ILS",

            }

    
+ Response 200 
        
        {
            "data": [
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "18/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0620",
                    "amount": 10,
                    "uid": "36517a5f-a72e-4968-bbd5-a786b917f4ac"
                },
                {
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "18/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0620",
                    "amount": 4.68,
                    "uid": "0b89adbe-8639-4089-a5e8-08a54e2164d2"
                },
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "19/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0620",
                    "amount": 10,
                    "uid": "7f354907-ee62-49b7-8fc2-7ce8e7011d50"
                },
                {
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "19/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0620",
                    "amount": 4.68,
                    "uid": "2a692190-fb15-402a-ad43-6f78fdf6a87e"
                },
                {
                    "recurring_number": 1384644,
                    "recurring_uid": "7088b78a-ea4c-42a8-964a-0a7e42d433c8",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "20/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0620",
                    "amount": 10,
                    "uid": "72dafa52-4889-4d7f-9b64-18f00c9b2850"
                },
                {
                    "recurring_number": 3879210,
                    "recurring_uid": "dfe3b27f-a07b-4dcb-b08b-0368efbf8216",
                    "customer_name": "לקוח כללי",
                    "customer_uid": "ef76432c-769a-43a6-ba7a-6f70272539d8",
                    "currency_code": "ILS",
                    "date_to_charge": "20/01/2021",
                    "charge_type": "recurring",
                    "card_number": "1175",
                    "card_expiry": "0620",
                    "amount": 4.68,
                    "uid": "9ad896d1-6f16-44dd-9fa3-135032fdffcc"
                }
            ],
            "total_charges": 6,
            "total_amount": 4404,
            "count": 6,
            "pages": 1
        }
        

### Daily stats [GET /RecurringPaymentsReports/Daily]


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required) 
    + customer_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,optional)
    + from_date: `2020-12-01` (string,optional)
    + till_date: `2021-01-16` (string,optional)
    
+ Request (application/json)

    + Headers

            Authorization: {"api_key":"a5f514de-c8c8-262a-ac31-31d609f3550a","secret_key":"404b1fd6-9fc5-1533-a121-126fa6cc0c8f"}

    + Body

            {
            
              "terminal_uid": "e67d7991-6b13-44de-94ff-95c9ca55be84",

            }

    
+ Response 200 
        
        {
            "data": [
                {
                    "date": "13/01/2021",
                    "failures": 1,
                    "charged": 9,
                    "credit": 999999,
                    "debit": 1610,
                    "total": 10,
                    "currency_code": "ILS"
                },
                {
                    "date": "12/01/2021",
                    "failures": 1,
                    "charged": 2,
                    "credit": 11.7,
                    "debit": 14.68,
                    "total": 3,
                    "currency_code": "ILS"
                },
                {
                    "date": "11/01/2021",
                    "failures": 0,
                    "charged": 14,
                    "credit": 0,
                    "debit": 102.76,
                    "total": 14,
                    "currency_code": "ILS"
                },
                {
                    "date": "04/01/2021",
                    "failures": 0,
                    "charged": 14,
                    "credit": 0,
                    "debit": 109.78,
                    "total": 14,
                    "currency_code": "ILS"
                },
                {
                    "date": "28/12/2020",
                    "failures": 0,
                    "charged": 5,
                    "credit": 0,
                    "debit": 41.06,
                    "total": 5,
                    "currency_code": "ILS"
                },
                {
                    "date": "27/12/2020",
                    "failures": 0,
                    "charged": 10,
                    "credit": 0,
                    "debit": 73.4,
                    "total": 10,
                    "currency_code": "ILS"
                }
            ],
            "count": 6,
            "pages": 1
        }



## Transactions [/Transactions/Charge]  

### Charge Transaction (J4) [POST ]


+ Attributes 
    + terminal_uid: `e1396310-e3f8-461f-b80a-55b199211359` (string,required)
    + cashier_uid: `e1343310-e3f8-4761f-b80a-54629211359` (string,required)
    + amount: 90 (number,required)
    + currency_code: `ILS` (string,required)
    + credit_terms: 1 (number,required) - 1-regular OR 6-credit OR 8-payment
    + use_token: false (boolean,required) - If true , token is required
    + token: `0f8767c1-c940-4311-8044-44ceceba19a77275` (string,optional) - Required only if use_token is true
    + initial_invoice: true (boolean) - If sent the transactions will consider if to initial invoice or not, if not sent then will take the default setting
    + customer_name_invoice: `David Levi` (string,optional) - Required only if customer_uid is null and have integrated invoice system
    + create_token: false (boolean,optional) - nullable (In case you have tokenization permission, you can decide if you would like to return the token of the customer for future charges)
    + add_data: `ABC3433` (string,optional) - SHOULD BE SENT JUST IF YOUR CREDIT CARD COMPANY OPENED THIS OPTION !!!
    + deferMonths: 0 (number,optional) - nullable (If you are using Club Codes [Kod Moadon] send the code in this field)
    + original_terminal_uid: nullable (string, optional) - In case you charging J5 transaction in another terminal, provide the original terminal of the original J5 tranasaction.
    + customer_uid: `e1396310-e3f8-461f-b80a-543564xzc59` (string,optional) - Mandatory if use_token is true, customer object can be used instead
    + id: `036220022` (string, optional) - Payer credit card holder identification number
    + customer (object,optional) - nullable
        + customer_name: `Nadlan International LTD` (string,required) - Important in case you working with invoicing company
        + email: `david@example.com` (string,required)-By this field we will search for a customer and allocate the payment under the client
        + full_name: `David Levi` (string,optional)-In case the customer is a company, contact personal name can be sent using this field
        + vat_number: `036534683` (string,optional)-In case email are not sent, we will search for a customer by this field
        + phone: `0509111111` (string,optional)
        + cell_phone: `0509111111` (string,optional)
        + address: `HaRokmim 12` (string,optional)
        + city: `Tel-Aviv` (string,optional)
        + country_ISO: `IL` (string,optional)
    + products (array,optional) - Optional ,Array of objects
        + (object)
            + product_uid:"e1396310-e3f8-461f-b80a-55b199211359" (string,optional)
            + name:"TV" (string,optional)
            + quantity : "1" (string,optional)
            + price : "10" (string,optional)
            + currency_code:"ILS" (string,optional)
            + discount_type:"amount" (string,optional) - "amount" OR "percentage"
            + discount_value:"10" (string,optional) 
            + product_invoice_extra_details:"Xiom Smart TV" (string,optional)
            + vat_type: 0 (number,optional)-'vat included' OR 1-'vat not included' OR 2- 'exempt vat'
    + credit_card - Required if use token is false
[...]
